# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Local models (just in case)
sbert_model/
models/

# figma file
Redesign\ NGO\ Home\ Page/